// Import Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

// Import our own SCSS files.
@import "footer.scss";

// Write your own SCSS here that doesn't yet belong in its own file.
.post {
    margin-top: 4rem;
}

.navbar-brand {
    font-size: 2.5rem;
}

.nav-item {
    font-size: 1.5rem;
}
